<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>This is Jeopardy!</title>
  </head>
  <body>
    <div class="mainDiv">
      <p>Lets Get you to your Login Page.</p>
      <p>Please click on the link below to head there :)</p>
      <br>
      <a href="/login">Click Me to leave this page.</a>
    </div>
  </body>
</html>
